MONGO_URI = YOUR MONGO URL
PORT= YOUR PORT
JWT_SECRET_KEY= YOUR SECRET KEY
NODE_ENV=development
MTP_USER='node mail user account'
SMTP_PASS='node mail password'
SENDER_EMAIL=
SMTP_PORT ='node mail port'
SMTP_HOST='smtp-relay.brevo.com'

CLIENT_URL= your frontend url
